.container {
  margin-left: -2rem;
  margin-right: -2rem;
  width: 100vw;
  display: flex;
  font-size: 0.9rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex: 1;
}

.weeks {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
  flex: 1;
}

.snap {
  scroll-snap-align: start;
}

.columnHeader {
  font-weight: 600;
  font-size: 1.2rem;
}

.mainColumn {
  width: 100px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > span {
  font-weight: 600;
  padding: 0.8rem;
}

.column > span:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.column > span:not(.entryWrapper:first-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.column > span:nth-last-child(-n + 2) {
  background-color: rgb(0 11 88 / 8%);
}

.row {
  height: calc(30px + 3vh);
}

.weekDay {
  text-transform: capitalize;
  text-align: right;
  flex: 1;
  display: flex;
  align-items: center;
}

.entryWrapper {
  transition: background 0.3s ease-in-out;
  width: calc(100vw - 100px);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  flex: 1;
}

.holiday {
  background-color: rgb(49 49 49) !important;
  color: white;
}

.squeeze {
  background-color: rgb(98 242 158);
}

.settings {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.summary > div > span {
  font-weight: 600;
}

.bridge {
  padding: 0 6px;
}
